header {
  height: 0;
}

header .header {
  position: relative;
  z-index: 10;
}

.marks-logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 33.333%;
  aspect-ratio: 1;
  z-index: 10;
  transform-origin: top left;
  transition: transform 0.5s ease;
  cursor: pointer;
  display: block;
  text-decoration: none;
}

.marks-logo:hover {
  opacity: 1;
}

.marks-logo svg {
  width: 100%;
  height: 100%;
  display: block;
}

.marks-logo.off-top {
  transform: scale(0.5);
}

@media (width >= 1024px) {
  .marks-logo {
    width: 11.111%;
  }

  .marks-logo.off-top {
    transform: none;
  }
}
